:root {
    --cor-fundo: #1e1e1e;
    --cor-cards: rgb(40, 40, 40) !important;
    --cor-subtitulos: rgb(215, 215, 215) !important;
    --white: #ffffff;
    --cor-nav-itens: #42b983;
    --bs-table-bg: red;


  }

$primary:  red!default;
$primary-color:  red !default;
$base-bg: red !default;
